<owl-carousel-o [options]="customOptionsMain">
  <ng-template carouselSlide
    ><img
      src="./images/slider-image-1.jpeg"
      height="300px"
      class="w-100 my-4"
      alt="slider-image-1"
  /></ng-template>
  <ng-template carouselSlide
    ><img
      src="./images/slider-image-2.jpeg"
      height="300px"
      class="w-100 my-4"
      alt="slider-image-2"
  /></ng-template>
  <ng-template carouselSlide
    ><img
      src="./images/slider-image-3.jpeg"
      height="300px"
      class="w-100 my-4"
      alt="slider-image-3"
  /></ng-template>
</owl-carousel-o>
